.git
.github
.vscode
.idea
.cursor
.husky
.DS_Store

node_modules
.output
!.output
!.output/**
.nitro
.vercel
dist
build
coverage
.cache

generated
!generated
!generated/prisma
!generated/prisma/**

.env
.env.*
!.env.example

*.log
npm-debug.log*
bun-debug.log*

docs
*.md
README*
LICENSE*

scripts/vercel-env.ts
